* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    position: relative;
}

html {
    background-color: rgb(43, 106, 116);
}

body {
    background-color: rgb(43, 106, 116);
    overflow-x: hidden;
}

header {
    height: 15vh;
    z-index: 20;
    position: fixed;
    top: 0px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-active {
    background-image: url('Figures/stars.jpg');
    background-size: contain;
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo {
    display: flex;
    justify-content: left;
    flex: 2;
}

.logo img {
    margin: auto;
    max-height: 12vh;
    cursor: pointer;
}

.logo img:hover {
    background-image: url('Figures/black_hole.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.nav-links {
    flex: 5;
}

.nav-links ul {
    margin: auto;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    cursor: pointer;
}

.nav-links ul li a:hover {
    color: rgb(253, 221, 83);
    border-color: rgb(43, 106, 116);
    transition: 0.3s ease;
}

.burger {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 2;
    display: none;
}

.burger .line1,
.burger .line2 {
    width: 20px;
    height: 4px;
    background-color: white;
    border-radius: 5px;
    margin: 5px;
    transform: translateX(25vw);
}

footer {
    min-height: 65vh;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    color: white;
}

.foot {
    min-height: 40vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("Figures/stars.jpg");
    background-size: contain;
}

.footer-logo {
    flex: 1;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.footer-logo img {
    max-height: 30vh;
    border-radius: 10%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    cursor: pointer;
}

.footer-logo img:hover {
    background-image: url('Figures/black_hole.jfif');
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-nav {
    flex: 1;
    margin: auto;
    display: flex;
    justify-content: space-around;
    min-height: 30vh;
    border-left: 1px solid white;
}

.footer-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}

.footer-nav ul li a {
    color: white;
    font-weight: 500;
    font-size: 14px;
    border-bottom: 2px solid black;
    cursor: pointer;
    text-decoration: none;
}

.footer-nav ul li a:hover {
    color: rgb(253, 221, 83);
    border-color: rgb(43, 106, 116);
    transition: 0.5s ease;
}

.footer-links {
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(43, 106, 116);
}

.footer-links ul {
    min-height: 10vh;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-links ul li a {
    color: white;
    font-size: 5vh;
    padding: 4px;
}

.footer-links ul li a:hover {
    color: rgb(253, 221, 83);
    transition: 0.3s;
}

.copyright {
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: rgb(43, 106, 116);
}

.copyright p {
    text-align: center;
    margin-top: 5px;
    font-size: 12px;
    font-weight: 500;
    color: white;
}

main {
    background-color: rgb(43, 106, 116);
}

.welcome {
    padding: 5px;
    min-height: 100vh;
    background-image: url("Figures/mars.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    color: white;
}

.welcome .title {
    margin-top: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    transform: translate(0%, 0%);
}

.welcome .title h1 b {
    font-size: 45px;
    font-weight: 800;
}

.welcome .title h1 {
    font-size: 45px;
    font-weight: 600;
}

.welcome .title-des p {
    max-width: 50vw;
    transform: translate(50%, 0%);
    font-size: 18px;
    font-weight: 500;
}

.welcome .title-button button,
.what .what-button button {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
    transform: translateX(0%);
    cursor: pointer;
}

.welcome .title-button button:hover,
.what .what-button button:hover {
    border-color: rgba(0, 0, 0, 0);
    transition: 0.3s ease;
}

.welcome .title-button button a,
.what .what-button button a {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.welcome c,
.what c,
.updates c {
    font-size: 12px;
    color: white;
}

.about {
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 90vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    color: white;
}

.about .astronomy {
    display: flex;
    justify-content: space-around;
}

.about .astronomy img {
    max-height: 30vh;
    border-radius: 10%;
}

.about h1,
.what h1 {
    font-size: 45px;
    font-weight: 600;
}

.about p,
.what p {
    font-size: 18px;
    font-weight: 500;
    max-width: 50vw;
    transform: translateX(50%);
}

.about p b,
.what p b {
    font-size: 25px;
    color: rgb(253, 221, 83);
    font-weight: 600;
}

.what {
    padding: 5px;
    min-height: 120vh;
    background-image: url("Figures/bubble.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    color: white;
}

.events {
    padding: 5px;
    min-height: 90vh;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    color: white;
}

.events h1 {
    font-size: 45px;
    font-weight: 600;
}

.events .posters {
    display: flex;
    justify-content: space-around;
}

.events .posters img {
    background-color: white;
    padding: 10px;
    max-width: 80vw;
    max-height: 60vh;
}

.updates {
    min-height: 105vh;
    background-image: url("Figures/veil_nebula.jpg");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}

.updates h1 {
    font-size: 45px;
    font-weight: 600;
    color: white;
}

.updates .iframes {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.updates .iframes .fb .fb-page,
.updates .iframes .fb .fb-page blockquote {
    width: 30vw;
    max-height: 30vh;
}

.updates .iframes .youtube iframe {
    width: 40vw;
    min-height: 22vw;
    max-height: 30vh;
}

@media only screen and (max-width:1000px) {
    .welcome .title h1,
    .welcome .title h1 b,
    .about h1,
    .what h1,
    .events h1,
    .updates h1 {
        font-size: 40px;
    }
    .welcome .title-des p,
    .about p,
    .what p {
        font-size: 16px;
    }
}

@media only screen and (max-width:700px) {
    .nav-links ul li a,
    .footer-nav ul li a {
        font-size: 12px;
    }
    .copyright p {
        font-size: 10px;
    }
    .welcome .title h1,
    .welcome .title h1 b,
    .about h1,
    .what h1,
    .events h1,
    .updates h1 {
        font-size: 36px;
    }
    .welcome .title-des p,
    .about p,
    .what p {
        font-size: 15px;
    }
    .welcome .title-button button a,
    .what .what-button button a {
        font-size: 15px;
    }
}

@media only screen and (max-width:600px) {
    .welcome .title h1,
    .welcome .title h1 b,
    .about h1,
    .what h1,
    .events h1,
    .updates h1 {
        font-size: 34px;
    }
}

@media only screen and (max-width:550px) {
    body,
    html {
        overflow-x: hidden;
    }
    .nav-links {
        background-color: white;
        position: absolute;
        right: 0px;
        top: 15vh;
        width: 100vw;
        height: 85vh;
        z-index: 10;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links ul {
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        text-align: center;
    }
    .nav-links ul li a {
        color: black;
        border-bottom: 2px solid white;
        font-weight: bold;
        text-decoration: none;
    }
    .nav-links ul li a:hover {
        border-color: rgb(43, 106, 116);
        color: rgb(43, 106, 116);
    }
    .burger {
        display: block;
    }
    .nav-links-active {
        transform: translateX(0%);
    }
    .welcome .title h1,
    .welcome .title h1 b,
    .about h1,
    .what h1,
    .events h1,
    .updates h1 {
        font-size: 32px;
    }
    .what p b {
        font-size: 16px;
    }
    .welcome .title-des p,
    .about p,
    .what p {
        font-size: 14px;
    }
    .welcome .title-button button a,
    .what .what-button button a {
        font-size: 14px;
    }
    .about c,
    .welcome c,
    .updates c,
    .what c {
        font-size: 10px;
    }
    .updates .iframes {
        margin: 20px;
        flex-direction: column-reverse;
    }
    .updates .iframes .youtube {
        margin-bottom: 20px;
    }
    .updates .iframes .youtube iframe {
        width: 50vw;
    }
}

@media only screen and (max-width:450px) {
    .footer-nav ul li a {
        font-size: 10px;
    }
    .copyright p {
        font-size: 8px;
    }
    .footer-logo img {
        max-height: 20vh;
    }
    .footer-nav {
        min-height: 25vh;
    }
    .welcome .title h1,
    .welcome .title h1 b,
    .about h1,
    .what h1,
    .events h1,
    .updates h1 {
        font-size: 30px;
    }
    .welcome .title-des p,
    .about p,
    .what p {
        font-size: 12px;
    }
    .what p b {
        font-size: 14px;
    }
    .welcome .title-button button a,
    .what .what-button button a {
        font-size: 12px;
    }
    .about c,
    .welcome c,
    .updates c,
    .what c {
        font-size: 8px;
    }
    .updates .iframes {
        margin-top: 20px;
        flex-direction: column-reverse;
    }
    .updates .iframes .youtube {
        margin-bottom: 20px;
    }
    .updates .iframes .youtube iframe {
        width: 80vw;
    }
}

@media only screen and (max-width:410px) {
    .welcome .title h1,
    .welcome .title h1 b,
    .about h1,
    .what h1,
    .events h1,
    .updates h1 {
        font-size: 26px;
    }
}

@media only screen and (max-width:350px) {
    .footer-nav ul li a {
        font-size: 8px;
    }
    .copyright p {
        font-size: 7px;
    }
    .footer-logo img {
        max-height: 18vh;
    }
    .footer-nav {
        min-height: 25vh;
    }
    .welcome .title h1,
    .welcome .title h1 b,
    .about h1,
    .what h1,
    .events h1,
    .updates h1 {
        font-size: 24px;
    }
    .what p b {
        font-size: 12px;
    }
    .welcome .title-des p,
    .about p,
    .what p {
        font-size: 10px;
    }
    .welcome .title-button button a,
    .what .what-button button a {
        font-size: 10px;
    }
    .about c,
    .welcome c,
    .updates c,
    .what c {
        font-size: 8px;
    }
}
