html {
    font-family: "Oswald";
    background-color: #080808;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0);
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
}

header .logo {
    background-color: rgba(14, 2, 2, 0.801);
    padding-left: 4vw;
    padding-top: 1vh;
    padding-right: 2vw;
    padding-bottom: 1vh;
    width: 50%;
}

header .logo img {
    float: left;
    height: 13vh;
    border-radius: 2vh;
}

header nav {
    background-color: rgba(14, 2, 2, 0.801);
    width: 50%;
}

header nav ul {
    padding-top: 2vh;
    padding-left: 2vw;
    padding-right: 4vw;
    padding-bottom: 2vh;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

header nav ul li a {
    text-decoration: none;
    font-size: 2.5vh;
    color: whitesmoke;
}

header nav ul li a:hover {
    text-decoration: underline;
}

body .welcome {
    margin-top: 15vh;
    padding-top: 6vh;
    height: 95vh;
    background-image: url("Figures/lagoon_nebula.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body h1 {
    color: whitesmoke;
    text-align: center;
    font-size: 5vh;
    text-shadow: 2px 2px 2px black;
}

body h2 {
    color: rgb(252, 188, 71);
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 5vh;
    text-shadow: 2px 2px 2px black;
}

body h3 {
    background-color: #08080891;
    border-radius: 6vh;
    padding-top: 6vh;
    padding-bottom: 6vh;
    padding-left: 2%;
    padding-right: 2%;
    color: whitesmoke;
    text-align: center;
    width: 48%;
    transform: translateX(46%);
    font-family: 'calibri';
    font-weight: 400;
    font-size: 2.5vh;
    text-shadow: 0px 0px 0px black;
}

body h3 b {
    color: rgb(252, 188, 71);
}

body h6 {
    color: black;
    text-align: center;
    font-weight: 400;
    font-size: 2.5vh;
}

body h4 {
    margin-top: 4vh;
    background-color: brown;
    border-radius: 5vh;
    width: 10vw;
    padding: 2vw;
    transform: translateX(43vw);
    color: black;
    text-align: center;
    font-family: 'calibri';
    font-weight: 400;
    font-size: 2.5vh;
    text-shadow: 0px 0px 0px black;
}

body h4 a {
    text-decoration: none;
    color: white;
}

body h4:hover {
    background-color: rgb(252, 188, 71);
}

body .about {
    padding-top: 6vh;
    height: 105vh;
    background-image: url("Figures/veil_nebula.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body h4 {
    color: whitesmoke;
    text-align: center;
    font-family: 'calibri';
    font-weight: 500;
    font-size: 2.5vh;
    text-shadow: 0px 0px 0px black;
}

body .guard {
    padding-top: 6vh;
    height: 80vh;
    background-color: whitesmoke;
}

h1 black {
    color: black;
    text-shadow: none;
}

.logos {
    display: flex;
    justify-content: space-evenly;
}

.logos img {
    border: 2px solid black;
}

.astronomy caption,
.PAC caption {
    text-align: center;
    background-color: black;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
}

.images {
    display: flex;
    justify-content: space-evenly;
}

div.gallery {
    margin: 4vh;
    border: 1px solid #ccc;
    float: left;
    width: 40vh;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 40vh;
    height: auto;
}

div.desc {
    padding: 2vh;
    text-align: center;
}

footer {
    padding-top: 2vh;
    height: 80vh;
    background-color: black;
}

footer .iframes {
    height: 60vh;
    padding: 0;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}

footer .iframes .fb {
    overflow-y: hidden;
    background-color: black;
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
}

footer .iframes .fb .fb-page {
    float: left;
    height: 59vh;
    border: 0.5vh solid whitesmoke;
    overflow-y: hidden;
}

footer .iframes .youtube {
    overflow-y: hidden;
    background-color: black;
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
}

footer .iframes .youtube iframe {
    margin-top: 8.75vh;
    margin-bottom: 5.35vh;
    height: 37.5vh;
    size: cover;
    float: left;
    border: 0.5vh solid whitesmoke;
}

footer .footer-links {
    height: 20vh;
    padding: 0;
    width: 100%;
    background-color: rgb(32, 31, 31);
    color: whitesmoke;
}

footer .footer-links ul {
    padding-top: 5vh;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5vh;
    font-size: 6vh;
}

footer .footer-links ul li a {
    color: whitesmoke;
}

footer .footer-links ul li a:hover {
    color: grey;
}

footer .copyright {
    height: 8vh;
    padding-top: 4vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    color: whitesmoke;
    font-size: 2vh;
    font-weight: lighter;
}